# Grav Specific
accounts/*
!accounts/.*
config/security.yaml
config/versions.yaml
data/*
!data/.*
plugins/*
!plugins/.*
!plugins/helios-course-hub-support/
!plugins/helios-course-hub-support/**
!themes/helios/.*
themes/helios/*
!themes/quark/.*
themes/quark/*
localhost/*
!localhost/.*

# OS Generated
.DS_Store*
thumbs.db
Icon?
Thumbs.db
*.swp
